* {
  margin: 0;
}

label {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  color: #454954;
}

.header {
  margin: 0px;
  color: white;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.header h1 {
  margin-top: 0px;
}

#userPreferences {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 520px;
  padding: 10px;
  background: #e6f2ff;
  border-radius: 15px;
  border: 1px solid #0e5cb11c;
  box-shadow: 0px 6px 20px #8888884f;
}

.pref-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-group {
  display: flex;
  justify-content: space-around;
}

.control-label {
  font-size: 18px;
  font-weight: 600;
}

.form-group > label.radio-inline {
  font-weight: 500;
  font-size: 17px;
  color: #464954;
}

.font-group > button:nth-child(an+b) {
  margin-right: 20px;
}

input[type='radio'] {
  margin: 0 10px 0 10px;
}
input[type='radio']:checked + .label {
	color: black;
}
input[type='radio'] ::before {
	border: 0.5rem solid grey;
	background: blue;
}

input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[type="radio"] + span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #9a9a9a;
  margin-right: 0.75em;
  margin-left: 10px;
  transition: 0.5s ease all;
}

[type="radio"]:checked + span::before {
  background: #007bff;
  box-shadow: 0 0 0 0.25em #9a9a9a;
}

input[type='text'] {
  padding: 2px 5px;
  font-weight: 500;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons > button {
  width: 140px;
}

#searchResults {
  margin: 0px auto;
  width: 50%;
  border-radius: 20px;
  padding: 5px;
}

#searchResults > h2 {
  padding: 20px;
  font-weight: 600;
}

.photo {
  margin: 5px 10px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid gray;
  background: gray;
  width: 100px;
  height: 100px;
}

.name, .age, .catchphrase {
  margin: 0px 10px;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.Modal-container {
  width: 400px;
  height: 150px;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  display: flex;
  flex-direction: row;
  height: 135px;
  background: #e6f2ff;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #0e5cb11c;
  box-shadow: 0px 6px 20px #8888884f;
}

li > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

li > div > button {
  background: #017bff;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  color: white;
}

.lead {
  font-size: 27px;
  font-weight: 500;
}
